{% extends 'layout.html.twig' %}

{% block javascripts %}
    <script src=" http://maps.google.com/?file=api&amp;v=2.x&amp;key=AIzaSyBljN7LS4yZJnja9vL_Ocvz6jLlEKU3fdY" type="text/javascript"></script>
    <script type="text/javascript" src="{{ asset('assets/js/custom/google_routes.js') }}"></script>
{% endblock %}

{% block content %}
    {% set ruta = app.request.get('_route') %}
    <h4 style="padding-left: 20px;">
        <a href="{{ path('homepage') }}">
            <i class="fa fa-long-arrow-left"></i>
            Volver a la p치gina principal
        </a>
    </h4>
    <div class="col-6 col-lg-6 col-md-12 col-sm-12 pull-left">
        <div id="map_canvas" style="height: 400px; position: relative; overflow: hidden;"></div>
        <button class="btn btn-warning" onclick="toggleTraffic(this);">
            <i class="fa fa-eye-slash"></i>
            Ocultar/Mostrar Tr치fico
        </button>
    </div>
    <div class="col-lg-6 box-form pull-right">
        <h1>
            {% if ruta == 'add_viaje' %}
                A침adir un viaje
            {% else %}
                Editar viaje
            {% endif %}
        </h1>
        <hr>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <div class="col-sm-2"></div>
        <div class="col-sm-10">
            <button type="submit" class="btn btn-success pull-right">
                {% if ruta == 'add_viaje' %}
                    <i class="fa fa-plus"></i>
                    A침adir
                {% else %}
                    <i class="fa fa-save"></i>
                    Guardar
                {% endif %}
            </button>
        </div>
        <div class="clearfix"></div>
        {{ form_end(form) }}
    </div>

{% endblock %}

