{% extends '::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('assets/js/custom/home.js') }}"></script>
{% endblock %}

{% block content %}
    <div class="container">
        <div id="timeline" class="col-lg-9 box-default pull-left">
            <h1 class="box-header">Últimas publicaciones</h1>

            <div class="box-content">


                {% for publication in pagination %}             {# Cada vez que se llame a un elemento de la colección será con "publication" #}
                    <div class="col-lg-12 publication-item">
                        <p>
                            <a class="pub-name-link" href="{{ path('perfil_usuario', {'nick': publication.conductor.nick}) }}">
                                {{ publication.conductor.nombre }} {{ publication.conductor.apellidos }}
                            </a>
                            -
                            ({{ publication.conductor.nick }})
                            -
                            <span class="pub-long-time">
                                {{ publication.fechaPublicacion|long_time }}
                            </span>
                            <span class="pub-date">
                                ({{ publication.fechaPublicacion|date('d-m-Y') }})
                            </span>
                        </p>
                        <div class="avatar">
                            {% if publication.conductor.imagenPerfil == null %}
                                <img src="{{ asset('assets/images/default-avatar.jpg') }}" alt="avatar" />
                            {% else %}
                                <img src="{{ asset('uploads/users/'~publication.conductor.imagenPerfil) }}" alt="avatar" />
                            {% endif %}
                        </div>

                        <div class="publication-item-content">
                            <table width="100%">
                                <tr>
                                    <td>
                                        <p>
                                            <span class="glyphicon glyphicon-circle-arrow-right text-success" aria-hidden="true"></span>
                                            {{ publication.origen }}
                                        </p>
                                        <p>
                                            <span class="glyphicon glyphicon-circle-arrow-right text-danger" aria-hidden="true"></span>
                                            {{ publication.destino }}
                                        </p>
                                    </td>
                                    <td>
                                        <p>
                                            Hora de salida: <span class="hora-label">{{ publication.horaSalidaIda|date('h:i')  }}h</span>
                                        </p>
                                    </td>
                                    <td>
                                        <p>
                                            <span class="price-label">{{ publication.precio }}€</span> por plaza
                                        </p>
                                        <p>
                                            <span class="plazas-label">{{ publication.plazasLibres }}</span> Plazas libres
                                        </p>
                                    </td>
                                    <td class="text-right">
                                        <div class="btn-group-vertical" role="group" aria-label="...">
                                            <a href="#" class="btn btn-success btn-sm">
                                                <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                                            </a>
                                            {% if (publication.conductor.id is defined) and (publication.conductor.id == app.user.id) %}
                                                <a href="#" class="btn-edit-pub btn btn-default btn-sm" data-id="{{ publication.id }}">
                                                    <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                                                </a>
                                                <a href="#" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#myModal">
                                                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                                </a>
                                            {% endif %}
                                        </div>

                                        <!-- Modal -->
                                        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                        <h4 class="modal-title text-left" id="myModalLabel">Estas a punto de borrar esta publicación</h4>
                                                    </div>
                                                    <div class="modal-body">
                                                        <p class="text-left">
                                                            ¿Estas seguro de que quieres borrar esta publicación?
                                                        </p>
                                                    </div>

                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-default" data-dismiss="modal">Atrás</button>
                                                        <button type="button" class="btn-delete-pub btn btn-danger" data-id="{{ publication.id }}">
                                                            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                                            Eliminar
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </td>
                                </tr>
                            </table>

                        </div>
                        <div class="clearfix"></div>
                        <hr>
                    </div>
                {% endfor %}


                <div class="navigation">
                    {{ knp_pagination_render(pagination) }}
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-sm-6">

                    <div class="card hovercard">
                        <div class="cardheader" style="background-image:
                        {% if app.user.imagenFondo == null %}
                                url({{ asset('assets/images/default-background-profile.jpg') }});
                        {% else %}
                                url({{ asset('uploads/users/'~app.user.imagenFondo) }});
                        {% endif %}
                                ">

                        </div>
                        <div class="avatar-card">
                            {% if app.user.imagenPerfil == null %}
                                <img src="{{ asset('assets/images/default-avatar.jpg') }}" alt="avatar" />
                            {% else %}
                                <img src="{{ asset('uploads/users/'~app.user.imagenPerfil) }}" alt="avatar" />
                            {% endif %}
                        </div>
                        <div class="info">
                            <div class="title">
                                <a href="{{ path('perfil_usuario', {'nick': app.user.nick}) }}">{{ app.user.nombre }} {{ app.user.apellidos }}</a>
                            </div>
                            <div class="desc">{{ app.user.nick }}</div>
                            <div class="desc">{{ app.user.ciudad }}</div>
                        </div>
                        <div class="bottom">
                            {% set estadisticas = app.user|user_stats %}

                            <div class="stat-data">
                                <a href="{{ path('siguiendo_usuarios', {'nick': app.user.nick}) }}">
                                    <span class="stat-label">
                                        Siguiendo
                                    </span>
                                    <span class="stat-number">
                                        {{ estadisticas.siguiendo }}
                                    </span>
                                </a>
                            </div>
                            <div class="stat-data">
                                <a href="{{ path('usuarios_seguidores', {'nick': app.user.nick}) }}">
                                    <span class="stat-label">
                                        Seguidores
                                    </span>
                                    <span class="stat-number">
                                        {{ estadisticas.seguidores }}
                                    </span>
                                </a>
                            </div>
                            <div class="stat-data">
                                <a href="{{ path('perfil_usuario', {'nick' : app.user.nick}) }}">
                                    <span class="stat-label">
                                        Viajes activos
                                    </span>
                                    <span class="stat-number">
                                        {{ estadisticas.publicaciones }}
                                    </span>
                                </a>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

