{% extends 'layout.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('assets/js/custom/home.js') }}"></script>
{% endblock %}

{% block content %}
    <div class="container">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active">
                <a href="#viajes" aria-controls="home" role="tab" data-toggle="tab">
                    VIAJES
                </a>
            </li>
            <li role="presentation">
                <a href="#rutinas" aria-controls="profile" role="tab" data-toggle="tab">
                    RUTINAS
                </a>
            </li>
        </ul>
        <div id="timeline" class="col-lg-9 col-md-12 col-sm-12 box-default pull-left">


            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="viajes">
                    <h1 class="box-header">ÚLTIMAS PUBLICACIONES</h1>

                    <div class="box-content">
                        {% if viajes|length > 0 %}
                        {% for viaje in viajes %}             {# Cada vez que se llame a un elemento de la colección será con "publication" #}
                            <div class="col-lg-12 publication-item">
                                <p>
                                    <a class="pub-name-link" href="{{ path('perfil_usuario', {'nick': viaje.conductor.nick}) }}">
                                        {{ viaje.conductor.nombre }} {{ viaje.conductor.apellidos }}
                                    </a>
                                    -
                                    ({{ viaje.conductor.nick }})
                                    -
                                    <span class="pub-date">
                                ({{ viaje.fechaPublicacion|date('d-m-Y') }})
                            </span>
                                </p>
                                <div class="avatar">
                                    {% if viaje.conductor.imagenPerfil == null %}
                                        <img src="{{ asset('assets/images/default-avatar.jpg') }}" alt="avatar" />
                                    {% else %}
                                        <img src="{{ asset('uploads/users/'~viaje.conductor.imagenPerfil) }}" alt="avatar" />
                                    {% endif %}
                                </div>

                                <div class="publication-item-content">
                                    <table width="100%">
                                        <tr>
                                            <td>
                                                <p>
                                                    <span class="glyphicon glyphicon-circle-arrow-right text-success" aria-hidden="true"></span>
                                                    {{ viaje.origen }}
                                                </p>
                                                <p>
                                                    <span class="glyphicon glyphicon-circle-arrow-right text-danger" aria-hidden="true"></span>
                                                    {{ viaje.destino }}
                                                </p>
                                            </td>
                                            <td>
                                                <p>
                                                    Hora de salida: <span class="hora-label">{{ viaje.horaSalidaIda|date('h:i')  }}h</span>
                                                </p>
                                            </td>
                                            <td>
                                                <p>
                                                    <span class="price-label">{{ viaje.precio|number_format(2, ',', '.') }}€</span> por plaza
                                                </p>
                                                <p>
                                                    <span class="plazas-label">{{ viaje.plazasLibres }}</span> Plazas libres
                                                </p>
                                            </td>
                                            <td class="text-right">
                                                <div class="btn-group-vertical" role="group" aria-label="...">
                                                    <a href="{{ path('ver_viaje', {'id' : viaje.id}) }}" class="btn btn-success btn-sm">
                                                        <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                                                    </a>
                                                    {% if (viaje.conductor.id is defined) and (viaje.conductor.id == app.user.id) %}
                                                        <a href="{{ path('editar_viaje', {'id' : viaje.id}) }}" class="btn-edit-pub btn btn-default btn-sm">
                                                            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                                                        </a>
                                                        <a href="{{ path('borrar_viaje', {'id' : viaje.id}) }}" class="btn btn-danger btn-sm">
                                                            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                                        </a>
                                                    {% endif %}
                                                </div>
                                            </td>
                                        </tr>
                                    </table>

                                </div>
                                <div class="clearfix"></div>
                                <hr>
                            </div>
                        {% endfor %}
                        {% else %}
                            <div class="col-lg-12">
                                <h3>Aún no estás siguiendo a nadie que tenga viajes activos.</h3>
                                <a href="{{ path('users') }}" class="btn btn-primary">
                                    <i class="fa fa-user-plus"></i>
                                    Empieza a seguir usuarios
                                </a>
                            </div>
                        {% endif %}


                        <div class="navigation">
                            {{ knp_pagination_render(viajes) }}
                        </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="rutinas">
                    <h1 class="box-header">ÚLTIMAS PUBLICACIONES</h1>

                    <div class="box-content">
                        {% if rutinas|length > 0 %}
                        {% for rutina in rutinas %}             {# Cada vez que se llame a un elemento de la colección será con "publication" #}
                            <div class="col-lg-12 publication-item">
                                <p>
                                    <a class="pub-name-link" href="{{ path('perfil_usuario', {'nick': rutina.conductor.nick}) }}">
                                        {{ rutina.conductor.nombre }} {{ rutina.conductor.apellidos }}
                                    </a>
                                    -
                                    ({{ rutina.conductor.nick }})
                                    -
                                    <span class="pub-date">
                                ({{ rutina.fechaPublicacion|date('d-m-Y') }})
                            </span>
                                </p>
                                <div class="avatar">
                                    {% if rutina.conductor.imagenPerfil == null %}
                                        <img src="{{ asset('assets/images/default-avatar.jpg') }}" alt="avatar" />
                                    {% else %}
                                        <img src="{{ asset('uploads/users/'~rutina.conductor.imagenPerfil) }}" alt="avatar" />
                                    {% endif %}
                                </div>

                                <div class="publication-item-content">
                                    <table width="100%">
                                        <tr>
                                            <td>
                                                <p>
                                                    <span class="glyphicon glyphicon-circle-arrow-right text-success" aria-hidden="true"></span>
                                                    {{ rutina.origen }}
                                                </p>
                                                <p>
                                                    <span class="glyphicon glyphicon-circle-arrow-right text-danger" aria-hidden="true"></span>
                                                    {{ rutina.destino }}
                                                </p>
                                            </td>
                                            <td>
                                                <p>
                                                    Hora de salida: <span class="hora-label">{{ rutina.horaSalida|date('h:i')  }}h</span>
                                                </p>
                                            </td>
                                            <td>
                                                <p>
                                                    <span class="price-label">{{ rutina.precio|number_format(2, ',', '.') }}€</span> por plaza
                                                </p>
                                                <p>
                                                    <span class="plazas-label">{{ rutina.plazasLibres }}</span> Plazas libres
                                                </p>
                                            </td>
                                            <td class="text-right">
                                                <div class="btn-group-vertical" role="group" aria-label="...">
                                                    <a href="{{ path('ver_rutina', {'id' : rutina.id}) }}" class="btn btn-success btn-sm">
                                                        <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                                                    </a>
                                                    {% if (rutina.conductor.id is defined) and (rutina.conductor.id == app.user.id) %}
                                                        <a href="{{ path('editar_rutina', {'id' : rutina.id}) }}" class="btn-edit-pub btn btn-default btn-sm">
                                                            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                                                        </a>
                                                        <a href="{{ path('borrar_rutina', {'id' : rutina.id}) }}" class="btn btn-danger btn-sm">
                                                            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                                        </a>
                                                    {% endif %}
                                                </div>
                                            </td>
                                        </tr>
                                    </table>

                                </div>
                                <div class="clearfix"></div>
                                <hr>
                            </div>
                        {% endfor %}
                        {% else %}
                            <div class="col-lg-12">
                                <h3>Aún no estás siguiendo a nadie que tenga rutinas activas.</h3>
                                <a href="{{ path('users') }}" class="btn btn-primary">
                                    <i class="fa fa-user-plus"></i>
                                    Empieza a seguir usuarios
                                </a>
                            </div>
                        {% endif %}

                        <div class="navigation">
                            {{ knp_pagination_render(rutinas) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-sm-6">

                    <div class="card hovercard box-default">
                        <div class="cardheader" style="background-image:
                        {% if app.user.imagenFondo == null %}
                                url({{ asset('assets/images/default-background-profile.jpg') }});
                        {% else %}
                                url({{ asset('uploads/users/'~app.user.imagenFondo) }});
                        {% endif %}
                                ">

                        </div>
                        <div class="avatar-card">
                            {% if app.user.imagenPerfil == null %}
                                <img src="{{ asset('assets/images/default-avatar.jpg') }}" alt="avatar" />
                            {% else %}
                                <img src="{{ asset('uploads/users/'~app.user.imagenPerfil) }}" alt="avatar" />
                            {% endif %}
                        </div>
                        <div class="info">
                            <div class="title">
                                <a href="{{ path('perfil_usuario', {'nick': app.user.nick}) }}">{{ app.user.nombre }} {{ app.user.apellidos }}</a>
                            </div>
                            <div class="desc">{{ app.user.nick }}</div>
                            <div class="desc">{{ app.user.ciudad }}</div>
                        </div>
                        <div class="bottom">
                            {% set estadisticas = app.user|user_stats %}

                            <div class="stat-data">
                                <a href="{{ path('siguiendo_usuarios', {'nick': app.user.nick}) }}">
                                    <span class="stat-label">
                                        Siguiendo
                                    </span>
                                    <span class="stat-number">
                                        {{ estadisticas.siguiendo }}
                                    </span>
                                </a>
                            </div>
                            <div class="stat-data">
                                <a href="{{ path('usuarios_seguidores', {'nick': app.user.nick}) }}">
                                    <span class="stat-label">
                                        Seguidores
                                    </span>
                                    <span class="stat-number">
                                        {{ estadisticas.seguidores }}
                                    </span>
                                </a>
                            </div>
                            <div class="stat-data">
                                <a href="{{ path('perfil_usuario', {'nick' : app.user.nick}) }}">
                                    <span class="stat-label">
                                        Viajes activos
                                    </span>
                                    <span class="stat-number">
                                        {{ estadisticas.publicaciones }}
                                    </span>
                                </a>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

