<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}PickmeUP!{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        {% block stylesheets %}
            <link href="{{ asset('assets/bootstrap/css/bootstrap.min.css') }}" type="text/css" rel="stylesheet" >
            <link href="{{ asset('assets/css/bootstrap.lumen.min.css') }}" type="text/css" rel="stylesheet" >
            <link href="{{ asset('assets/css/styles.css') }}" type="text/css" rel="stylesheet" >
            <link href="{{ asset('assets/css/nprogress/nprogress.css') }}" type="text/css" rel="stylesheet">
        {% endblock %}
        {% block javascripts %}
            <script type="text/javascript">
                var URL = "{{ app.request.getSchemeAndHttpHost() }}";
            </script>
            <script src="{{ asset('assets/js/jquery-3.1.1.min.js') }}"></script>
            <script src="{{ asset('assets/bootstrap/js/bootstrap.min.js') }}"></script>
            <script src="{{ asset('assets/js/jquery-ias.min.js') }}"></script>
            <script src="{{ asset('assets/js/custom/common.js') }}"></script>
            <script src="{{ asset('assets/js/nprogress/nprogress.js') }}"></script>
        {% endblock %}

    </head>
    <body>
    {% set ruta = app.request.get('_route') %}
        <header>
            <nav class="navbar navbar-inverse navbar-fixed-top">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapse" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Navegación</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="{{ path("homepage") }}">
                            {#<span class="glyphicon glyphicon-cloud" aria-hidden="true"></span>#}
                            <img src="{{ asset('assets/images/logo.png') }}" alt="" width="20px">
                            PICKMEUP!
                        </a>
                    </div>


                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        {% if app.user == null %}
                        <ul class="nav navbar-nav navbar-right">
                            <li {% if ruta == 'login' %} class="active"{% endif %}>
                                <a href="{{ path("login") }}">
                                    <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>
                                    &nbsp;Entrar
                                </a>
                            </li>
                            <li {% if ruta == 'Register' %} class="active"{% endif %}>
                                <a href="{{ path("Register") }}">
                                    <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                                    &nbsp;Registro
                                </a>
                            </li>
                        </ul>
                        {% else %}
                        <ul class="nav navbar-nav">
                            <li {% if ruta == 'homepage' %} class="active"{% endif %}>
                                <a href="{{ path("homepage") }}">
                                    <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
                                    &nbsp;Inicio
                                </a>
                            </li>
                            <li {% if ruta == 'users' %} class="active"{% endif %}>
                                <a href="{{ path("users") }}">
                                    <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
                                    &nbsp;Conductores
                                </a>
                            </li>
                            <li>
                                <form action="{{ path('user_search') }}" class="navbar-form navbar-left">
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Buscar" name="search" />
                                        <button type="submit" class="btn btn-info">
                                            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                                        </button>
                                    </div>
                                </form>
                            </li>
                        </ul>
                        {% endif %}
                        {% if app.user != null %}
                            <ul class="nav navbar-nav navbar-right">
                                <li class="dropdown add-pub text-success">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li {% if ruta == 'add_viaje' or ruta == 'add_rutina' %} class="active"{% endif %}>
                                            <a href="{{ path('add_rutina') }}">
                                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                                                Añadir rutina
                                            </a>
                                        </li>
                                        <li>
                                            <a href="{{ path('add_viaje') }}">
                                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                                                Añadir viaje
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li {% if ruta == 'add_viaje' %} class="active"{% endif %}>
                                    <a href="{{ path('mensajes') }}">
                                        <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
                                    </a>
                                </li>
                                <li {% if ruta == 'n' %} class="active"{% endif %}>
                                    <a href="{{ path('notificaciones') }}">
                                        <span class="glyphicon glyphicon-bell" aria-hidden="true"></span>
                                        <span class="label label-success label-notifications"></span>
                                    </a>
                                </li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                        <div class="avatar">
                                            {% if app.user.imagenPerfil == null %}
                                                <img src="{{ asset('assets/images/default-avatar.jpg') }}" alt="avatar" />
                                            {% else %}
                                                <img src="{{ asset('uploads/users/'~app.user.imagenPerfil) }}" alt="avatar" />
                                            {% endif %}
                                        </div>

                                        {{ app.user.nombre }} {{ app.user.apellidos }}
                                        <span class="caret"></span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a href="{{ path('perfil_usuario', {'nick' : app.user.nick}) }}">
                                                <span class="glyphicon glyphicon-user"></span>
                                                Mi perfil
                                            </a>
                                        </li>

                                        <li role="separator" class="divider"></li>
                                        <li>
                                            <a href="">
                                                <span class="glyphicon glyphicon-exclamation-sign"></span>
                                                Ayuda
                                            </a>
                                        </li>
                                        <li>
                                            <a href="{{ path('logout') }}">
                                                <span class="glyphicon glyphicon-log-out"></span>
                                                Salir
                                            </a>
                                        </li>

                                    </ul>
                                </li>
                            </ul>
                        {% endif %}
                    </div>
                </div>
            </nav>
        </header>
        <section id="content">
            <div class="container">
                <div class="col-lg-11">
                    {% for message in app.session.flashBag().get('status') %}
                        <div class="alert alert-success alert-dismissible" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <span class="glyphicon glyphicon-ok"></span>
                            &nbsp;{{ message }}
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="clearfix"></div>

            {% block content %}
                Content default
            {% endblock %}
        </section>
        <footer class="col-lg-12">
            <hr />
            <div class="container">
                <p class="text-muted">
                    Desarrollo de una web para compartir viajes - Jonathan Moya Moreno - copyright &copy; 2017
                </p>
            </div>
        </footer>
    </body>
</html>
