<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>
            {% block title %}
                PickmeUP!
            {% endblock %}
        </title>
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link href="{{ asset('assets/bootstrap/css/bootstrap.min.css') }}" type="text/css" rel="stylesheet" >
        <link href="{{ asset('assets/css/nprogress/nprogress.css') }}" type="text/css" rel="stylesheet">
        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="//oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
            <script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
        {% block stylesheets %}
            <link href="{{ asset('assets/css/bootstrap.lumen.min.css') }}" type="text/css" rel="stylesheet" >
            <link href="{{ asset('assets/css/styles.css') }}" type="text/css" rel="stylesheet" >
        {% endblock %}
    </head>
    <body {% if app.user and app.user.isAdmin() %} class="hold-transition skin-blue sidebar-mini" {% endif %}>
        <section id="content" {% if app.user and app.user.isAdmin() %}class="no-margin"{% endif %}>
            {% block body %}{% endblock %}
        </section>
        {% block footer %}
        <footer>
            <div class="container">
                <p class="text-center">
                    Desarrollo de una web para compartir viajes - Jonathan Moya Moreno - copyright &copy; 2017
                </p>
            </div>
        </footer>
        {% endblock %}
        <script type="text/javascript">
            var URL = "{{ app.request.getSchemeAndHttpHost() }}";
        </script>
        <script src="{{ asset('assets/js/jquery-3.1.1.min.js') }}"></script>
        <script src="{{ asset('assets/bootstrap/js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('assets/js/jquery-ias.min.js') }}"></script>
        <script src="{{ asset('assets/js/custom/common.js') }}"></script>
        <script src="{{ asset('assets/js/nprogress/nprogress.js') }}"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
