{% extends 'layout.html.twig' %}

{% block stylesheets %}
    <!-- NProgress -->
    <link href="{{ asset('assets/gentelella/vendors/nprogress/nprogress.css') }}" rel="stylesheet">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">

    <link href="{{ asset('assets/AdminLTE/dist/css/AdminLTE.min.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/AdminLTE/dist/css/skins/_all-skins.min.css') }}" rel="stylesheet">


{% endblock %}
{% block navbar %}
    <header class="main-header">
        <!-- Logo -->
        <a href="../../index2.html" class="logo">
            <!-- mini logo for sidebar mini 50x50 pixels -->
            <span class="logo-mini">
                <img src="{{ asset('assets/images/logo.png') }}" width="20px" alt="">

            </span>
            <!-- logo for regular state and mobile devices -->
            <span class="logo-lg">
                <img src="{{ asset('assets/images/logo.png') }}" width="20px" alt="">
                PICKME<strong>UP</strong>
            </span>
        </a>
        <!-- Header Navbar: style can be found in header.less -->
        <nav class="navbar navbar-static-top">
            <!-- Sidebar toggle button-->
            <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>

            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">
                    <!-- Messages: style can be found in dropdown.less-->
                    <li class="dropdown messages-menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-envelope-o"></i>
                            <span class="label label-success label-notifications-msg"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="header">Tienes <span class="label-notifications-msg"></span> mensajes sin leer</li>
                            <li>
                                <!-- inner menu: contains the actual data -->
                                <ul class="menu">
                                    {% for mensaje in mensajes_admin %}
                                    <li><!-- start message -->
                                        <a href="#">
                                            <div class="pull-left">
                                                {% if mensaje.emisor.imagenPerfil == null %}
                                                    <img src="{{ asset('assets/images/default-avatar.jpg') }}" class="img-circle"
                                                         alt="avatar"/>
                                                {% else %}
                                                    <img src="{{ asset('uploads/users/'~mensaje.emisor.imagenPerfil) }}" class="img-circle" alt="avatar"/>
                                                {% endif %}
                                            </div>
                                            <h4>
                                                {{ mensaje.emisor.nombre }} {{ mensaje.emisor.apellidos }}
                                                <small>
                                                    <i class="fa fa-clock-o"></i>
                                                    {{ mensaje.fechaEnviado|date|localizeddate('short','none','es') }}
                                                </small>
                                            </h4>
                                            <p>{{ mensaje.mensaje }}</p>
                                        </a>
                                    </li>
                                    <!-- end message -->
                                    {% endfor %}
                                </ul>
                            </li>
                            <li class="footer">
                                <a href="{{ path('mensajes') }}">
                                    Ver todos los mensajes
                                </a>
                            </li>
                        </ul>
                    </li>
                    <!-- Notifications: style can be found in dropdown.less -->
                    <li class="dropdown notifications-menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-bell-o"></i>
                            <span class="label label-warning label-notifications"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="header">Tienes <span class="label-notifications"></span> notificaciones</li>
                            <li>
                                <!-- inner menu: contains the actual data -->
                                <ul class="menu">
                                    {% for notif in notif_admin  %}
                                        {% set usuario_notif = notif.tipoId|get_user %}
                                        {% set usuario_seg = notif.idUsuario|get_user %}
                                        <li>
                                        {% if notif.tipo == 'follow' %}
                                            <a style="white-space: normal">
                                                <i class="fa fa-retweet text-primary"></i>
                                                {{ usuario_notif.nombre }} {{ usuario_notif.apellidos }} ahora sigue a
                                                {{ usuario_seg.nombre }} {{ usuario_seg.apellidos }}
                                            </a>
                                        {% endif %}
                                        </li>
                                    {% endfor %}
                                </ul>
                            </li>
                            <li class="footer"><a href="{{ path('all_notificaciones') }}">Ver todo</a></li>
                        </ul>
                    </li>
                    <!-- User Account: style can be found in dropdown.less -->
                    <li class="dropdown user user-menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            {% if admin.imagenPerfil == null %}
                                <img src="{{ asset('assets/images/default-avatar.jpg') }}" width="" class="user-image" alt="avatar"/>
                            {% else %}
                                <img src="{{ asset('uploads/users/'~admin.imagenPerfil) }}" width="" class="user-image" alt="avatar"/>
                            {% endif %}
                            <span class="hidden-xs">{{ admin.nombre }} {{ admin.apellidos }}</span>
                        </a>
                        <ul class="dropdown-menu admin-dropdown">
                            <!-- User image -->
                            <li class="user-header">
                                {% if admin.imagenPerfil == null %}
                                    <img src="{{ asset('assets/images/default-avatar.jpg') }}" class="img-circle" alt="avatar"/>
                                {% else %}
                                    <img src="{{ asset('uploads/users/'~admin.imagenPerfil) }}" class="img-circle" alt="avatar"/>
                                {% endif %}
                                <p>
                                    {{ admin.nombre }} {{ admin.apellidos }} - {{ admin.nick }}
                                    <small>Administrador</small>
                                </p>
                            </li>
                            <!-- Menu Footer-->
                            <li class="user-footer">
                                <div class="pull-left">
                                    <a href="{{ path('user_edit') }}" class="btn btn-primary btn-flat">
                                        <i class="fa fa-edit"></i>
                                        Editar
                                    </a>
                                </div>
                                <div class="pull-right">
                                    <a href="{{ path('salir') }}" class="btn btn-primary btn-flat">
                                        <i class="fa fa-sign-out"></i>
                                        Salir
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
{% endblock %}
{% block content %}
    <!-- Site wrapper -->
    <div class="wrapper">
        <!-- Left side column. contains the sidebar -->
        <aside class="main-sidebar" style="padding-top: 0;">
            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">
                <!-- Sidebar user panel -->
                <div class="user-panel">
                    <div class="pull-left image">
                        {% if admin.imagenPerfil == null %}
                            <img src="{{ asset('assets/images/default-avatar.jpg') }}" width="" class="img-circle" alt="avatar"/>
                        {% else %}
                            <img src="{{ asset('uploads/users/'~admin.imagenPerfil) }}" width="" class="img-circle" alt="avatar"/>
                        {% endif %}
                    </div>
                    <div class="pull-left info">
                        <p>
                            {{ admin.nombre }} {{ admin.apellidos }}
                        </p>
                        <span><i class="fa fa-user text-primary"></i> Administrador</span>
                    </div>
                </div>
                <!-- sidebar menu: : style can be found in sidebar.less -->
                <ul class="sidebar-menu">
                    <li class="header">MENÚ PRINCIPAL</li>
                    <li class="active">
                        <a href="#">
                            <i class="fa fa-dashboard"></i> <span>Administración</span>
                        </a>
                    </li>
                    <li class="">
                        <a href="{{ path('users') }}">
                            <i class="fa fa-group"></i>
                            <span>Usuarios</span>
                        </a>
                    </li>
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-plus"></i>
                            <span>Añadir</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li>
                                <a href="{{ path('Register') }}">
                                    <i class="fa fa-circle-o"></i>
                                    Usuario
                                </a>
                            </li>
                            <li>
                                <a href="{{ path('add_viaje') }}">
                                    <i class="fa fa-circle-o"></i>
                                    Viaje
                                </a>
                            </li>
                            <li>
                                <a href="{{ path('add_rutina') }}">
                                    <i class="fa fa-circle-o"></i>
                                    Rutina
                                </a>
                            </li>
                            <li>
                                <a href="{{ path('add_coche') }}">
                                    <i class="fa fa-circle-o"></i>
                                    Coche
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="{{ path('mensajes') }}">
                            <i class="fa fa-envelope"></i> <span>Mensajes</span>
                            <span class="pull-right-container">
                                <small class="label pull-right bg-green label-notifications-msg"></small>
                            </span>
                        </a>
                    </li>
                    <li class="treeview">
                        <a href="{{ path('all_notificaciones') }}">
                            <i class="fa fa-bell"></i> <span>Notificaciones</span>
                            <span class="pull-right-container">
                                <small class="label pull-right bg-green label-notifications"></small>
                            </span>

                        </a>
                    </li>
                </ul>
            </section>
            <!-- /.sidebar -->
        </aside>

        <!-- =============================================== -->

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h1>
                    Panel de administracion
                    <small>PICKME<strong>UP!</strong></small>
                </h1>
                <ol class="breadcrumb">
                    <li>
                        <a href="{{ path('administracion') }}">
                            <i class="fa fa-dashboard"></i>
                            Administración
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('administracion') }}">Inicio</a>
                    </li>
                    <li>Vista general</li>
                </ol>
            </section>

            <!-- Main content -->
            <section class="content">
                <!-- Estadísticas -->
                <div class="row">
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="info-box">
                            <span class="info-box-icon bg-aqua">
                                <i class="ion ion-ios-people-outline"></i>
                            </span>

                            <div class="info-box-content">
                                <span class="info-box-text">Usuarios registrados</span>
                                <h3 class="text-center">{{ total_usuarios }}</h3>
                            </div>
                            <!-- /.info-box-content -->
                        </div>
                        <!-- /.info-box -->
                    </div>
                    <!-- /.col -->
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="info-box">
                            <span class="info-box-icon bg-red">
                                <i class="fa fa-train"></i>
                            </span>

                            <div class="info-box-content">
                                <span class="info-box-text">Viajes añadidos</span>
                                <h3 class="text-center">{{ total_viajes }}</h3>
                            </div>
                            <!-- /.info-box-content -->
                        </div>
                        <!-- /.info-box -->
                    </div>
                    <!-- /.col -->

                    <!-- fix for small devices only -->
                    <div class="clearfix visible-sm-block"></div>

                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="info-box">
                            <span class="info-box-icon bg-green">
                                <i class="fa fa-car"></i>
                            </span>

                            <div class="info-box-content">
                                <span class="info-box-text">Rutinas añadidas</span>
                                <h3 class="text-center">{{ total_rutinas }}</h3>
                            </div>
                            <!-- /.info-box-content -->
                        </div>
                        <!-- /.info-box -->
                    </div>
                    <!-- /.col -->
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="info-box">
                            <span class="info-box-icon bg-yellow">
                                <i class="fa fa-inbox"></i>
                            </span>

                            <div class="info-box-content">
                                <span class="info-box-text">Total de mensajes</span>
                                <h3 class="text-center">{{ total_mensajes }}</h3>
                            </div>
                            <!-- /.info-box-content -->
                        </div>
                        <!-- /.info-box -->
                    </div>
                    <!-- /.col -->
                </div>

                <div class="box">
                    <div class="box-header with-border">
                        <h3 class="box-title">USUARIOS REGISTRADOS EN LA PLATAFORMA</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <div id="example1_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                            <div class="row">
                                <div class="col-lg-10">

                                </div>
                                <div class="col-lg-2">
                                    <a href="{{ path('Register') }}" class="btn btn-success">
                                        <i class="fa fa-plus"></i>
                                        Añadir nuevo
                                    </a>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <table id="example1"
                                           class="table table-bordered table-striped table-hover dataTable"
                                           role="grid" aria-describedby="example1_info">
                                        <thead>
                                        <tr role="row">
                                            <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1"
                                                colspan="1" aria-sort="ascending"
                                                aria-label="Rendering engine: activate to sort column descending"
                                                style="width: 168px;">Imagen
                                            </th>
                                            <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1"
                                                colspan="1" aria-label="Browser: activate to sort column ascending"
                                                style="width: 208px;">Nombre
                                            </th>
                                            <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1"
                                                colspan="1" aria-label="Platform(s): activate to sort column ascending"
                                                style="width: 183px;">Apellidos
                                            </th>
                                            <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1"
                                                colspan="1"
                                                aria-label="Engine version: activate to sort column ascending"
                                                style="width: 143px;">Nick
                                            </th>
                                            <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1"
                                                colspan="1" aria-label="CSS grade: activate to sort column ascending"
                                                style="width: 103px;">Estado
                                            </th>
                                            <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1"
                                                colspan="1" aria-label="CSS grade: activate to sort column ascending"
                                                style="width: 103px;">Acciones
                                            </th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for usuario in usuarios %}
                                            <tr role="row"
                                                class="odd {% if usuario.estado == false %}alert alert-warning{% endif %}">
                                                <td class="sorting_1">
                                                    {% if usuario.imagenPerfil == null %}
                                                        <img src="{{ asset('assets/images/default-avatar.jpg') }}"
                                                             class="img-circle" width="30px" alt="avatar"/>
                                                    {% else %}
                                                        <img src="{{ asset('uploads/users/'~usuario.imagenPerfil) }}"
                                                             class="img-circle" width="30px" alt="avatar"/>
                                                    {% endif %}
                                                </td>
                                                <td>
                                                    {{ usuario.nombre }}
                                                </td>
                                                <td>
                                                    {{ usuario.apellidos }}
                                                </td>
                                                <td>
                                                    <a href="{{ path('perfil_usuario', {'nick':usuario.nick}) }}">
                                                        {{ usuario.nick }}
                                                    </a>
                                                </td>
                                                <td>
                                                    {% if usuario.estado == true %}
                                                        <label class="label label-success">Activo</label>
                                                    {% else %}
                                                        <label class="label label-danger">Inactivo</label>
                                                    {% endif %}
                                                </td>
                                                <td>
                                                    <a href="{{ path('editar_a_usuario', {'id': usuario.id}) }}"
                                                       data-toggle="tooltip" title="Editar">
                                                        <i class="fa fa-edit"></i>
                                                    </a>
                                                    {% if usuario.estado %}
                                                        <a href="{{ path('borrar_usuario', {'id' : usuario.id}) }}"
                                                           data-toggle="tooltip" title="Desactivar">
                                                            <i class="fa fa-power-off text-danger"></i>
                                                        </a>
                                                    {% else %}
                                                        <a href="{{ path('activar_usuario', {'id' : usuario.id}) }}"
                                                           data-toggle="tooltip" title="Activar">
                                                            <i class="fa fa-power-off text-success"></i>
                                                        </a>
                                                    {% endif %}

                                                </td>
                                            </tr>

                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-1"></div>
                                <div class="col-lg-11">
                                    <div class="navigation">
                                        {{ knp_pagination_render(usuarios) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="box">
                    <div class="box-header with-border">
                        <h3 class="box-title">VIAJES AÑADIDOS EN LA APLICACIÓN</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <div id="example1_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                            <div class="row">
                                <div class="col-sm-12">
                                    <table id="example1"
                                           class="table table-bordered table-striped table-hover dataTable"
                                           role="grid" aria-describedby="example1_info">
                                        <thead>
                                        <tr role="row">
                                            <th class="sorting_asc" tabindex="0" aria-controls="example1" rowspan="1"
                                                colspan="1" aria-sort="ascending"
                                                aria-label="Rendering engine: activate to sort column descending"
                                                style="width: 350px;">Conductor
                                            </th>
                                            <th class="sorting_asc" tabindex="0" aria-controls="example1" rowspan="1"
                                                colspan="1" aria-sort="ascending"
                                                aria-label="Rendering engine: activate to sort column descending"
                                                style="width: 168px;">Origen
                                            </th>
                                            <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1"
                                                colspan="1" aria-label="Browser: activate to sort column ascending"
                                                style="width: 208px;">Destino
                                            </th>
                                            <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1"
                                                colspan="1" aria-label="Browser: activate to sort column ascending"
                                                style="width: 208px;">Día
                                            </th>
                                            <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1"
                                                colspan="1" aria-label="Platform(s): activate to sort column ascending"
                                                style="width: 183px;">Plazas libres
                                            </th>
                                            <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1"
                                                colspan="1"
                                                aria-label="Engine version: activate to sort column ascending"
                                                style="width: 143px;">Precio
                                            </th>
                                            <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1"
                                                colspan="1" aria-label="CSS grade: activate to sort column ascending"
                                                style="width: 103px;">Estado
                                            </th>
                                            <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1"
                                                colspan="1" aria-label="CSS grade: activate to sort column ascending"
                                                style="width: 103px;">Acciones
                                            </th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for viaje in viajes %}
                                            <tr role="row"
                                                class="odd {% if viaje.activo == false %}alert alert-warning{% endif %}">
                                                <td class="sorting_1">
                                                    {% if viaje.conductor.imagenPerfil == null %}
                                                        <img src="{{ asset('assets/images/default-avatar.jpg') }}"
                                                             class="img-circle" width="30px" alt="avatar"/>
                                                    {% else %}
                                                        <img src="{{ asset('uploads/users/'~viaje.conductor.imagenPerfil) }}"
                                                             class="img-circle" width="30px" alt="avatar"/>
                                                    {% endif %}
                                                    <a href="{{ path('perfil_usuario', {'nick': viaje.conductor.nick}) }}">
                                                        {{ viaje.conductor.nombre }} {{ viaje.conductor.apellidos }}
                                                    </a>
                                                </td>
                                                <td class="sorting_1">
                                                    <i class="fa fa-circle-o text-success"></i>
                                                    {{ viaje.origen }}
                                                </td>
                                                <td>
                                                    <i class="fa fa-circle-o text-danger"></i>
                                                    {{ viaje.destino }}
                                                </td>
                                                <td>
                                                    <i class="fa fa-calendar"></i>
                                                    {{ viaje.fechaSalida|date|localizeddate('long', 'none', 'es') }}
                                                </td>
                                                <td>
                                                    {{ viaje.plazasLibres }}
                                                </td>
                                                <td>
                                                    {{ viaje.precio|number_format(2,',','.') }}€
                                                </td>
                                                <td>
                                                    {% if viaje.activo == true %}
                                                        <label class="label label-success">Activo</label>
                                                    {% else %}
                                                        <label class="label label-danger">Inactivo</label>
                                                    {% endif %}
                                                </td>
                                                <td>
                                                    <a href="{{ path('editar_viaje', {'id': viaje.id}) }}"
                                                       data-toggle="tooltip" title="Editar">
                                                        <i class="fa fa-edit"></i>
                                                    </a>
                                                    {% if viaje.activo %}
                                                        <a href="{{ path('borrar_viaje', {'id' : viaje.id}) }}"
                                                           data-toggle="tooltip" title="Desactivar">
                                                            <i class="fa fa-power-off text-danger"></i>
                                                        </a>
                                                    {% else %}
                                                        <a href="{{ path('activar_viaje', {'id' : viaje.id}) }}"
                                                           data-toggle="tooltip" title="Activar">
                                                            <i class="fa fa-power-off text-success"></i>
                                                        </a>
                                                    {% endif %}
                                                    <a href="{{ path('ver_viaje', {'id': viaje.id}) }}"
                                                       data-toggle="tooltip" title="Ver viaje" class="pull-right">
                                                        <i class="fa fa-eye text-success"></i>
                                                    </a>

                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-1"></div>
                                <div class="col-lg-11">
                                    <div class="navigation">
                                        {{ knp_pagination_render(viajes) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.box-body -->
                </div>

                <div class="box">
                    <div class="box-header with-border">
                        <h3 class="box-title">RUTINAS CREADAS EN LA APLICACIÓN</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <div id="example1_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                            <div class="row">
                                <div class="col-sm-12">
                                    <table id="example1"
                                           class="table table-bordered table-striped table-hover dataTable"
                                           role="grid" aria-describedby="example1_info">
                                        <thead>
                                        <tr role="row">
                                            <th class="sorting_asc" tabindex="0" aria-controls="example1" rowspan="1"
                                                colspan="1" aria-sort="ascending"
                                                aria-label="Rendering engine: activate to sort column descending"
                                                style="width: 350px;">
                                                Conductor
                                            </th>
                                            <th class="sorting_asc" tabindex="0" aria-controls="example1" rowspan="1"
                                                colspan="1" aria-sort="ascending"
                                                aria-label="Rendering engine: activate to sort column descending"
                                                style="width: 168px;">Origen
                                            </th>
                                            <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1"
                                                colspan="1" aria-label="Browser: activate to sort column ascending"
                                                style="width: 208px;">Destino
                                            </th>
                                            <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1"
                                                colspan="1" aria-label="Platform(s): activate to sort column ascending"
                                                style="width: 183px;">Dias
                                            </th>
                                            <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1"
                                                colspan="1" aria-label="Platform(s): activate to sort column ascending"
                                                style="width: 183px;">Plazas libres
                                            </th>
                                            <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1"
                                                colspan="1"
                                                aria-label="Engine version: activate to sort column ascending"
                                                style="width: 143px;">Precio
                                            </th>
                                            <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1"
                                                colspan="1" aria-label="CSS grade: activate to sort column ascending"
                                                style="width: 103px;">Estado
                                            </th>
                                            <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1"
                                                colspan="1" aria-label="CSS grade: activate to sort column ascending"
                                                style="width: 103px;">Acciones
                                            </th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for rutina in rutinas %}
                                            <tr role="row"
                                                class="odd {% if rutina.activo == false %}alert alert-warning{% endif %}">
                                                <td class="sorting_1">
                                                    {% if rutina.conductor.imagenPerfil == null %}
                                                        <img src="{{ asset('assets/images/default-avatar.jpg') }}"
                                                             class="img-circle" width="30px" alt="avatar"/>
                                                    {% else %}
                                                        <img src="{{ asset('uploads/users/'~rutina.conductor.imagenPerfil) }}"
                                                             class="img-circle" width="30px" alt="avatar"/>
                                                    {% endif %}
                                                    <a href="{{ path('perfil_usuario', {'nick': rutina.conductor.nick}) }}">
                                                        {{ rutina.conductor.nombre }} {{ rutina.conductor.apellidos }}
                                                    </a>
                                                </td>
                                                <td class="sorting_1">
                                                    <i class="fa fa-circle-o text-success"></i>
                                                    {{ rutina.origen }}
                                                </td>
                                                <td>
                                                    <i class="fa fa-circle-o text-danger"></i>
                                                    {{ rutina.destino }}
                                                </td>
                                                <td>
                                                    <i class="fa fa-calendar"></i>
                                                    {% if rutina.dias|length < 5 %}
                                                        {% for dia in rutina.dias %}
                                                            {{ dia.dia }}{% if not loop.last %}, {% endif %}
                                                        {% endfor %}
                                                    {% else %}
                                                        De Lunes a Viernes
                                                    {% endif %}
                                                </td>
                                                <td>
                                                    {{ rutina.plazasLibres }}
                                                </td>
                                                <td>
                                                    {{ rutina.precio|number_format(2,',','.') }}€
                                                </td>
                                                <td>
                                                    {% if rutina.activo == true %}
                                                        <label class="label label-success">Activo</label>
                                                    {% else %}
                                                        <label class="label label-danger">Activo</label>
                                                    {% endif %}
                                                </td>
                                                <td>
                                                    <a href="{{ path('editar_rutina', {'id': rutina.id}) }}"
                                                       data-toggle="tooltip" title="Editar">
                                                        <i class="fa fa-edit"></i>
                                                    </a>
                                                    {% if rutina.activo %}
                                                        <a href="{{ path('borrar_rutina', {'id': rutina.id}) }}"
                                                           data-toggle="tooltip" title="Desactivar">
                                                            <i class="fa fa-power-off text-danger"></i>
                                                        </a>
                                                    {% else %}
                                                        <a href="{{ path('activar_rutina', {'id': rutina.id}) }}"
                                                           data-toggle="tooltip" title="Activar">
                                                            <i class="fa fa-power-off text-success"></i>
                                                        </a>
                                                    {% endif %}
                                                    <a href="{{ path('ver_rutina', {'id': rutina.id}) }}"
                                                       data-toggle="tooltip" title="Ver rutina" class="pull-right">
                                                        <i class="fa fa-eye text-success"></i>
                                                    </a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-1"></div>
                                <div class="col-lg-11">
                                    <div class="navigation">
                                        {{ knp_pagination_render(rutinas) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="callout callout-info">
                    <h4>Información</h4>

                    <p>Los mensajes enviados entre usuarios son privados. El administrador no puede
                    ver ni eliminar un mensaje. El mensaje que se envía, enviado queda.</p>
                </div>
                <!-- /.box -->
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->


        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Create the tabs -->
            <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
                <li><a href="#control-sidebar-home-tab" data-toggle="tab"><i class="fa fa-home"></i></a></li>
                <li><a href="#control-sidebar-settings-tab" data-toggle="tab"><i class="fa fa-gears"></i></a></li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
                <!-- Home tab content -->
                <div class="tab-pane" id="control-sidebar-home-tab">
                    <h3 class="control-sidebar-heading">Recent Activity</h3>
                    <ul class="control-sidebar-menu">
                        <li>
                            <a href="javascript:void(0)">
                                <i class="menu-icon fa fa-birthday-cake bg-red"></i>

                                <div class="menu-info">
                                    <h4 class="control-sidebar-subheading">Langdon's Birthday</h4>

                                    <p>Will be 23 on April 24th</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <i class="menu-icon fa fa-user bg-yellow"></i>

                                <div class="menu-info">
                                    <h4 class="control-sidebar-subheading">Frodo Updated His Profile</h4>

                                    <p>New phone +1(800)555-1234</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <i class="menu-icon fa fa-envelope-o bg-light-blue"></i>

                                <div class="menu-info">
                                    <h4 class="control-sidebar-subheading">Nora Joined Mailing List</h4>

                                    <p>nora@example.com</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <i class="menu-icon fa fa-file-code-o bg-green"></i>

                                <div class="menu-info">
                                    <h4 class="control-sidebar-subheading">Cron Job 254 Executed</h4>

                                    <p>Execution time 5 seconds</p>
                                </div>
                            </a>
                        </li>
                    </ul>
                    <!-- /.control-sidebar-menu -->

                    <h3 class="control-sidebar-heading">Tasks Progress</h3>
                    <ul class="control-sidebar-menu">
                        <li>
                            <a href="javascript:void(0)">
                                <h4 class="control-sidebar-subheading">
                                    Custom Template Design
                                    <span class="label label-danger pull-right">70%</span>
                                </h4>

                                <div class="progress progress-xxs">
                                    <div class="progress-bar progress-bar-danger" style="width: 70%"></div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <h4 class="control-sidebar-subheading">
                                    Update Resume
                                    <span class="label label-success pull-right">95%</span>
                                </h4>

                                <div class="progress progress-xxs">
                                    <div class="progress-bar progress-bar-success" style="width: 95%"></div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <h4 class="control-sidebar-subheading">
                                    Laravel Integration
                                    <span class="label label-warning pull-right">50%</span>
                                </h4>

                                <div class="progress progress-xxs">
                                    <div class="progress-bar progress-bar-warning" style="width: 50%"></div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <h4 class="control-sidebar-subheading">
                                    Back End Framework
                                    <span class="label label-primary pull-right">68%</span>
                                </h4>

                                <div class="progress progress-xxs">
                                    <div class="progress-bar progress-bar-primary" style="width: 68%"></div>
                                </div>
                            </a>
                        </li>
                    </ul>
                    <!-- /.control-sidebar-menu -->

                </div>
                <!-- /.tab-pane -->
                <!-- Stats tab content -->
                <div class="tab-pane" id="control-sidebar-stats-tab">Stats Tab Content</div>
                <!-- /.tab-pane -->
                <!-- Settings tab content -->
                <div class="tab-pane" id="control-sidebar-settings-tab">
                    <form method="post">
                        <h3 class="control-sidebar-heading">General Settings</h3>

                        <div class="form-group">
                            <label class="control-sidebar-subheading">
                                Report panel usage
                                <input type="checkbox" class="pull-right" checked>
                            </label>

                            <p>
                                Some information about this general settings option
                            </p>
                        </div>
                        <!-- /.form-group -->

                        <div class="form-group">
                            <label class="control-sidebar-subheading">
                                Allow mail redirect
                                <input type="checkbox" class="pull-right" checked>
                            </label>

                            <p>
                                Other sets of options are available
                            </p>
                        </div>
                        <!-- /.form-group -->

                        <div class="form-group">
                            <label class="control-sidebar-subheading">
                                Expose author name in posts
                                <input type="checkbox" class="pull-right" checked>
                            </label>

                            <p>
                                Allow the user to show his name in blog posts
                            </p>
                        </div>
                        <!-- /.form-group -->

                        <h3 class="control-sidebar-heading">Chat Settings</h3>

                        <div class="form-group">
                            <label class="control-sidebar-subheading">
                                Show me as online
                                <input type="checkbox" class="pull-right" checked>
                            </label>
                        </div>
                        <!-- /.form-group -->

                        <div class="form-group">
                            <label class="control-sidebar-subheading">
                                Turn off notifications
                                <input type="checkbox" class="pull-right">
                            </label>
                        </div>
                        <!-- /.form-group -->

                        <div class="form-group">
                            <label class="control-sidebar-subheading">
                                Delete chat history
                                <a href="javascript:void(0)" class="text-red pull-right"><i
                                            class="fa fa-trash-o"></i></a>
                            </label>
                        </div>
                        <!-- /.form-group -->
                    </form>
                </div>
                <!-- /.tab-pane -->
            </div>
        </aside>
        <!-- /.control-sidebar -->
        <!-- Add the sidebar's background. This div must be placed
             immediately after the control sidebar -->
        <div class="control-sidebar-bg"></div>
    </div>
    <!-- ./wrapper -->


    {% block javascripts %}
        {{ parent() }}
        <script src="{{ asset('assets/AdminLTE/plugins/datatables/jquery.dataTables.min.js') }}"></script>
        <script src="{{ asset('assets/AdminLTE/plugins/datatables/dataTables.bootstrap.min.js') }}"></script>
        <!-- FastClick -->
        <script src="{{ asset('assets/AdminLTE/plugins/slimScroll/jquery.slimscroll.min.js') }}"></script>
        <script src="{{ asset('assets/AdminLTE/plugins/fastclick/fastclick.min.js') }}"></script>
        <script src="{{ asset('assets/AdminLTE/dist/js/app.min.js') }}"></script>
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    {% endblock %}

{% endblock %}

