{% extends 'layout.html.twig' %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('assets/js/custom/profile.js') }}"></script>
{% endblock %}

{% block content %}

    <div class="col-lg-10 profile-box profile-wall box-default" style="background-image: linear-gradient(to top, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0.0) 100%),
    {% if usuario.imagenFondo == null %}
            url({{ asset('assets/images/default-background-profile.jpg') }});
        {% else %}
            url({{ asset('uploads/users/'~usuario.imagenFondo) }});
        {% endif %}
    ">
        <div class="box-info-user col-lg-12">
            <div class="col-lg-12 box-items">
                <div class="col-lg-8">
                    <div class="avatar">
                        {% if usuario.imagenPerfil == null %}
                            <img src="{{ asset('assets/images/default-avatar.jpg') }}" alt="avatar" />
                        {% else %}
                            <img src="{{ asset('uploads/users/'~usuario.imagenPerfil) }}" alt="avatar" />
                        {% endif %}
                    </div>

                    <div class="name-surname">
                        <a href="{{ path('perfil_usuario', {'nick' : usuario.nick}) }}">
                            {{ usuario.nombre }} {{ usuario.apellidos }}
                        </a>
                        <div class="clearfix"></div>
                        <span class="nickname">
                        {{ usuario.nick }} - <small>Miembro desde el {{ usuario.activacion | date('d \\d\\e F \\d\\e\\l Y') }}</small>
                    </span>
                    </div>
                </div>

                <div class="col-lg-4 info-usuario text-right">
                    <a href="#" data-toggle="modal" data-target="#info-modal">
                        SOBRE MÍ
                    </a>
                    {% if (app.user.id is defined) and (usuario.id == app.user.id) %}
                        <a href="{{ path('user_edit') }}" class="btn btn-primary">
                            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                            Editar perfil
                        </a>
                    {% else %}
                        <a href="{{ path('following_follow') }}" class="btn btn-success">
                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                            SEGUIR
                        </a>
                    {% endif %}
                </div>
                <!-- Modal Info Usuario-->
                <div class="modal fade" id="info-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="myModalLabel">SOBRE MÍ</h4>
                            </div>
                            <div class="modal-body modal-bio">
                                <h3>
                                    {{ usuario.nombre }} {{ usuario.apellidos }} <small>{{ usuario.nick }}</small>
                                </h3>
                                <div class="col-lg-12">
                                    <div class="col-lg-6">
                                        <span>{{ usuario.ciudad }} {% if usuario.provincia  != null %}({{ usuario.provincia }}){% endif %}{% if usuario.pais != null %}, {{ usuario.pais }}{% endif %}</span>
                                        <span>Email: {{ usuario.email }}</span>
                                        <span>Fecha de nacimiento: {{ usuario.fechaNacimiento|date('d/F/Y') }}</span>
                                    </div>
                                    <div class="col-lg-6">
                                        {% if usuario.descripcion  != null %}
                                            <span>
                                                {{ usuario.descripcion }}
                                            </span>
                                        {% else %}
                                            {% if (app.user.id is defined) and (usuario.id == app.user.id) %}
                                                <span>
                                                    Aún no has introducido una descripción de usuario. Edita tu perfil para añadirla. Puedes ir directamente a editar tu perfil siguiento
                                                    <a href="{{ path('user_edit') }}"> este enlace</a>
                                                </span>
                                            {% else %}
                                                <span>
                                                    Este usuario aún no ha introducido una descripción.
                                                </span>
                                            {% endif %}
                                        {% endif %}
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Modal -->
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="clearfix"></div>

    <div class="col-lg-10 content-profile">
        <div id="user-stats" class="col-lg-4 col-md-12 col-sm-12 box-default box-ajustado no-padding-bottom">
            <h1 class="box-header">
                ESTADÍSTICAS
            </h1>
            {% set estadisticas = usuario|user_stats %}
            <div class="row overview">
                <div class="col-md-4 user-pad text-center">
                    <a href="{{ path('siguiendo_usuarios', {'nick' : usuario.nick}) }}">
                        <h3>SIGUIENDO</h3>
                        <h4>{{ estadisticas.siguiendo }}</h4>
                    </a>
                </div>
                <div class="col-md-4 user-pad text-center">
                    <a href="{{ path('usuarios_seguidores', {'nick' : usuario.nick}) }}">
                        <h3>SEGUIDORES</h3>
                        <h4>{{ estadisticas.seguidores }}</h4>
                    </a>
                </div>
                <div class="col-md-4 user-pad text-center">
                    <a href="{{ path('perfil_usuario', {'nick' : usuario.nick}) }}">
                        <h3>VIAJES</h3>
                        <h4>{{ estadisticas.publicaciones }}</h4>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-lg-1"></div>
        <div class="col-lg-7 col-md-12 col-sm-12 box-default box-ajustado">
            <h1 class="box-header">
                RUTINAS ACTUALES
            </h1>
            <div class="user-publications">
                {% for publication in paginacion %}
                    <div class="col-lg-12 publication-item">
                        <p>
                            <a class="pub-name-link" href="{{ path('perfil_usuario', {'nick': publication.conductor.nick}) }}">
                                {{ publication.conductor.nombre }} {{ publication.conductor.apellidos }}
                            </a>
                            -
                            ({{ publication.conductor.nick }})
                            -
                            <span class="pub-long-time">
                        {{ publication.fechaPublicacion|long_time }}
                    </span>
                            <span class="pub-date">
                        ({{ publication.fechaPublicacion|date('d-m-Y') }})
                    </span>
                        </p>
                        <div class="avatar">
                            {% if publication.conductor.imagenPerfil == null %}
                                <img src="{{ asset('assets/images/default-avatar.jpg') }}" alt="avatar" />
                            {% else %}
                                <img src="{{ asset('uploads/users/'~publication.conductor.imagenPerfil) }}" alt="avatar" />
                            {% endif %}
                        </div>

                        <div class="publication-item-content">
                            <table width="100%">
                                <tr>
                                    <td>
                                        <p>
                                            <span class="glyphicon glyphicon-circle-arrow-right text-success" aria-hidden="true"></span>
                                            {{ publication.origen }}
                                        </p>
                                        <p>
                                            <span class="glyphicon glyphicon-circle-arrow-right text-danger" aria-hidden="true"></span>
                                            {{ publication.destino }}
                                        </p>
                                    </td>
                                    <td>
                                        <p>
                                            Hora de salida: <span class="hora-label">{{ publication.horaSalidaIda|date('h:i')  }}h</span>
                                        </p>
                                    </td>
                                    <td>
                                        <p>
                                            <span class="price-label">{{ publication.precio }}€</span> por plaza
                                        </p>
                                        <p>
                                            <span class="plazas-label">{{ publication.plazasLibres }}</span> Plazas libres
                                        </p>
                                    </td>
                                    <td class="text-right">
                                        <div class="btn-group" role="group" aria-label="...">
                                            <a href="#" class="btn btn-success btn-sm">
                                                <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                                            </a>
                                            {% if (publication.conductor.id is defined) and (publication.conductor.id == app.user.id) %}
                                                <a href="#" class="btn-edit-pub btn btn-default btn-sm" data-id="{{ publication.id }}">
                                                    <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                                                </a>
                                                <a href="#" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#myModal">
                                                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                                </a>
                                            {% endif %}
                                        </div>
                                        <!-- Modal -->
                                        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                        <h4 class="modal-title text-left" id="myModalLabel">Estas a punto de borrar esta publicación</h4>
                                                    </div>
                                                    <div class="modal-body">
                                                        <p class="text-left">
                                                            ¿Estas seguro de que quieres borrar esta publicación?
                                                        </p>
                                                    </div>

                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-default" data-dismiss="modal">Atrás</button>
                                                        <button type="button" class="btn-delete-pub btn btn-danger" data-id="{{ publication.id }}">
                                                            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                                            Eliminar
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="clearfix"></div>
                        <hr>
                    </div>
                    <div class="clearfix"></div>
                {% endfor %}

                <div class="navigation">
                    {{ knp_pagination_render(paginacion) }}
                </div>

                <div class="clearfix"></div>
            </div>
        </div>
    </div>

{% endblock %}

