{% extends 'base.html.twig' %}

{% block content %}
    <div class="container">

    </div>
    <div class="col-lg-11 box-form">
        <h1>Conductores</h1>
        <div class="count">
            <span class="label label-primary">
                Conductores: {{ pagination.getTotalItemCount }}
            </span>
        </div>
        <hr />

        <div class="box-content box-users">
            {% for user in pagination %}
                <div class="col-lg-12 user-item">
                    <div class="avatar">
                        {% if user.imagenPerfil == null %}
                            <img src="{{ asset('assets/images/default-avatar.jpg') }}" alt="avatar" />
                        {% else %}
                            <img src="{{ asset('uploads/users/'~user.imagenPerfil) }}" alt="avatar" />
                        {% endif %}
                    </div>
                    <div class="user-item-content">
                        <p>{{ user.nombre }} {{ user.apellidos }} - ({{ user.nick }})</p>
                        <p>{{ user.descripcion }}</p>
                    </div>
                    <div class="clearfix"></div>
                    <hr />
                </div>
            {% endfor %}

        </div>
        <div class="navigation">
            {{ knp_pagination_render(pagination) }}  <!-- pinta la paginacion con  la plantilla custom_pagination -->
        </div>
        <div class="clearfix"></div>
    </div>
{% endblock %}

