{% extends 'layout.html.twig' %}

{% block content %}
    <div class="col-lg-1"></div>
    <div class="container col-lg-10" style="padding-left: 0;">
        <h4>
            <a href="{{ path('homepage') }}">
                <i class="fa fa-long-arrow-left"></i>
                Volver a la página principal
            </a>
        </h4>
        <div class="col-lg-7 box-default pull-left vista-viaje">
            <h1 class="box-header">
                {{ rutina.origen }}
                <i class="fa fa-long-arrow-right"></i>
                {{ rutina.destino }}
            </h1>
            <div class="col-lg-3">
                <span>
                    Salida:
                </span>
                <span>
                    Destino:
                </span>
                <span>
                    Fecha:
                </span>
                <span>
                    Detalles:
                </span>
            </div>
            <div class="col-lg-5">
                <span>
                    <i class="fa fa-circle-o text-success"></i>
                    {{ rutina.origen }}
                </span>
                <span>
                    <i class="fa fa-circle-o text-danger"></i>
                    {{ rutina.destino }}
                </span>
                <span>
                    <i class="fa fa-calendar"></i>
                     {{ rutina.dias }} - {{ rutina.horaSalida|date('H:i') }}
                </span>
                <span>
                    <i class="fa fa-clock-o"></i>
                    Salida {{ rutina.flexiblididad }}
                </span>
                <span>
                    {% if rutina.maximoAtras %}
                        <i class="fa fa-info-group"></i>
                        El conductor viaja con un máximo de 2 pasajeros en la parte de atrás
                    {% endif %}
                </span>
            </div>
            <div class="col-lg-11 box-anotacion-viaje">
                <div class="avatar">
                    {% if rutina.conductor.imagenPerfil == null %}
                        <img src="{{ asset('assets/images/default-avatar.jpg') }}" alt="avatar" />
                    {% else %}
                        <img src="{{ asset('uploads/users/'~rutina.conductor.imagenPerfil) }}" alt="avatar" />
                    {% endif %}
                </div>
                <h4>
                    {{ rutina.conductor.nombre }} {{ rutina.conductor.apellidos }}
                </h4>
                <span>
                    {{ rutina.descripcion }}
                </span>
                <span>
                    <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#mensaje">
                        <i class="fa fa-send"></i>
                        Contactar con el conductor
                    </a>

                </span>
            </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="mensaje" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">
                            Enviar mensaje a
                            <a href="{{ path('perfil_usuario', {'nick': rutina.conductor.nick}) }}">
                                {{ rutina.conductor.nombre }} {{ rutina.conductor.apellidos }}
                            </a>
                        </h4>
                    </div>
                    {{ form_start(formulario) }}
                    <div class="modal-body">
                        {{ form_widget(formulario) }}
                        <p class="text-muted text-center">
                            <i class="fa fa-warning"></i>
                            Evita enviar contraseñas, números de teléfono y demás información sensible.
                        </p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-success">
                            <i class="fa fa-send"></i>
                            Enviar
                        </button>
                    </div>
                    {{ form_end(formulario) }}
                </div>
            </div>
        </div>
        <div class="col-lg-1"></div>
        <div class="col-lg-4 box-default pull-left vista-viaje">
            <div class="col-lg-12 row-list">
                <span>
                    Aportación por plaza
                </span>
                <span class="precio pull-right">
                    {{ rutina.precio|number_format(2,',','.') }}€
                </span>
                <div class="clearfix"></div>
            </div>
            <hr>
            <div class="col-lg-12 row-list">
                <span>
                    Plazas disponibles
                </span>
                <span class="plazas-label pull-right">
                    <label>{{ rutina.plazasLibres }}</label> <small>plazas</small>
                </span>
                <div class="clearfix"></div>
            </div>
            <div class="col-lg-12 text-center row-reserva">
                <div class="mt-2"></div>

                {% if app.user.id == rutina.conductor.id %}
                    <a href="{{ path('editar_rutina', {'id':rutina.id}) }}" class="btn btn-primary">
                        <i class="fa fa-edit"></i>
                        Editar
                    </a>
                    <a href="{{ path('borrar_rutina', {'id':rutina.id}) }}" class="btn btn-danger">
                        <i class="fa fa-trash"></i>
                        Eliminar
                    </a>
                    <a href="{{ path('add_plaza_rutina', {'id':rutina.id}) }}" class="btn btn-success">
                        <i class="fa fa-plus"></i>
                        Plaza
                    </a>
                {% elseif rutina.plazasLibres < 1 %}
                    <label class="label label-danger label_notif">
                        Esta rutina no tiene plazas libres en este momento
                    </label>
                {% else %}
                    <span>
                        Reserva ahora una plaza en este viaje
                    </span>
                    <a href="{{ path('peticion_rutina', {'conductor':rutina.conductor.id, 'usuario':app.user.id, 'rutina':rutina.id}) }}" class="btn btn-warning">
                        Reservar 1 plaza
                    </a>
                {% endif %}
                <div class="clearfix"></div>
            </div>
        </div>

        <div class="col-lg-1"></div>

        <div class="col-lg-4 box-default pull-left vista-viaje box-conductor">
            <h3>Conductor</h3>
            <div class="col-lg-12 text-center">
                <div class="avatar">
                    {% if rutina.conductor.imagenPerfil == null %}
                        <img src="{{ asset('assets/images/default-avatar.jpg') }}" alt="avatar" />
                    {% else %}
                        <img src="{{ asset('uploads/users/'~rutina.conductor.imagenPerfil) }}" alt="avatar" />
                    {% endif %}
                </div>
                <h4>
                    <a href="{{ path('perfil_usuario', {'nick' : rutina.conductor.nick}) }}">
                        {{ rutina.conductor.nombre }} {{ rutina.conductor.apellidos }}
                    </a>
                </h4>
                <span>{{ rutina.conductor.nick }}</span>
                <hr>

                <h4 class="text-left">Coche</h4>
                {% if rutina.conductor.vehiculo|length > 0 %}
                    <div class="col-lg-1"></div>
                    <h4 class="col-lg-3 col-sm-12">
                        <small>Marca</small><br>{{ rutina.conductor.vehiculo.marca }}
                    </h4>
                    <h4 class="col-lg-3 col-sm-12">
                        <small>Modelo</small><br>{{ rutina.conductor.vehiculo.modelo }}
                    </h4>
                    <h4 class="col-lg-3 col-sm-12">
                        <small>Color</small><br>{{ rutina.conductor.vehiculo.color }}
                    </h4>
                    <div class="col-lg-1"></div>
                {% else %}
                    <h5>El usuario no ha introducido información sobre su vehículo</h5>
                {% endif %}

                <div class="clearfix"></div>
            </div>
        </div>
    </div>

{% endblock %}

