{% extends 'layout.html.twig' %}

{% block content %}

    <div class="col-lg-10 box-default no-padding-lados">
        <h1 class="box-header">
            Mensajes Enviados
        </h1>
        <div class="col-lg-6 mark text-center">
            <a href="{{ path('mensajes') }}" class="btn btn-warning">
                Ir a mensajes recibidos
            </a>
        </div>
        <div class="col-lg-6">
            <h4>
                Mensajes enviados
            </h4>
            <hr>
            <div class="box-content box-mensajes">
                {% if mensajes|length > 0 %}
                    {% for msg in mensajes %}
                        <div class="col-lg-12 publication-item">
                            <p>
                                De
                                <a class="pub-name-link" href="{{ path('perfil_usuario', {'nick':  msg.emisor.nick}) }}">
                                    {{ msg.emisor.nombre }} {{ msg.emisor.apellidos }}
                                </a>
                                
                                <span class="text-muted">
                                    - Enviado el {{ msg.fechaEnviado|date|localizeddate('long', 'none', 'es') }} a las {{ msg.fechaEnviado|date('H:i') }}
                                </span>
                            </p>
                            <div class="avatar">
                                {% if msg.emisor.imagenPerfil == null %}
                                    <img src="{{ asset('assets/images/default-avatar.jpg') }}" alt="avatar" />
                                {% else %}
                                    <img src="{{ asset('uploads/users/'~msg.emisor.imagenPerfil) }}" alt="avatar" />
                                {% endif %}
                            </div>

                            <div class="publication-item-content">
                                <table width="100%">
                                    <tr>
                                        <td>
                                            Para:
                                            <a href="{{ path('perfil_usuario', {'nick':msg.receptor.nick}) }}">
                                                {{ msg.receptor.nombre }} {{ msg.receptor.apellidos }}
                                            </a>
                                            <p>
                                                {{ msg.mensaje }}
                                            </p>
                                        </td>
                                    </tr>
                                </table>

                            </div>
                            <div class="clearfix"></div>
                            <hr>
                        </div>
                    {% endfor %}
                {% else %}
                    <div class="col-lg-12">
                        <h3>Aún no tienes mensajes privados enviados.</h3>
                        <a href="{{ path('mensajes') }}" class="btn btn-primary">
                            <i class="fa fa-user-send"></i>
                            Manda un mensaje
                        </a>
                    </div>
                {% endif %}

                <div class="navigation">
                    {{ knp_pagination_render(mensajes) }}
                </div>
            </div>
        </div>


        <div class="clearfix"></div>
    </div>
{% endblock %}

