{% extends 'layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('assets/select2/css/select2.min.css') }}" rel="stylesheet" />
{% endblock %}

{% block content %}
    <div class="col-lg-10 box-default no-padding-lados">
        <h1 class="box-header">
            Mensajes
        </h1>

        <div class="col-lg-6">
            <h4>
                Enviar mensaje
            </h4>
            <hr>
            {{ form_start(formulario) }}
            {{ form_widget(formulario) }}
            <div class="form-group">

                <div class="col-sm-12">
                    <button type="submit" name="enviar" class="btn btn-success pull-right">
                        <i class="fa fa-send"></i>
                        Enviar
                    </button>
                    <a href="{{ path('mensajes_enviados') }}" class="btn btn-warning">
                        Mensajes enviados
                    </a>
                </div>
            </div>
            {{ form_end(formulario) }}
        </div>
        <div class="col-lg-6">
            <h4>
                Mensajes recibidos
            </h4>
            <hr>
            <div class="box-content box-mensajes">
                {% if mensajes|length > 0 %}
                    {% for m in mensajes %}
                        <div class="col-lg-12 publication-item">
                            <p>
                                De
                                <a class="pub-name-link" href="{{ path('perfil_usuario', {'nick':  m.emisor.nick}) }}">
                                    {{ m.emisor.nombre }} {{ m.emisor.apellidos }}
                                </a>

                                <span class="text-muted">
                                    - Recibido el {{ m.fechaEnviado|date|localizeddate('medium','none','es') }} a las {{ m.fechaEnviado|date('H:i') }}
                            </span>
                            </p>
                            <div class="avatar">
                                {% if m.emisor.imagenPerfil == null %}
                                    <img src="{{ asset('assets/images/default-avatar.jpg') }}" alt="avatar" />
                                {% else %}
                                    <img src="{{ asset('uploads/users/'~m.emisor.imagenPerfil) }}" alt="avatar" />
                                {% endif %}
                            </div>

                            <div class="publication-item-content">
                                <table width="100%">
                                    <tr>
                                        <td>
                                            <p>
                                                {{ m.mensaje }}
                                            </p>
                                        </td>
                                    </tr>
                                </table>

                            </div>
                            <div class="clearfix"></div>
                            <hr>
                        </div>
                    {% endfor %}
                {% else %}
                    <div class="col-lg-12">
                        <h3 class="text-center">Aún no tienes mensajes en tu bandeja de entrada.</h3>
                    </div>
                {% endif %}

                <div class="navigation">
                    {{ knp_pagination_render(mensajes) }}
                </div>
            </div>
        </div>


        <div class="clearfix"></div>
    </div>
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/select2/js/select2.min.js') }}"></script>
    <script type="text/javascript">
        $(".form-receptor").select2();
    </script>
{% endblock %}

